<div>
  <div>
    <h3>Product</h3>
  </div>
  <div id="oneproduct"></div>
  <div>
    <h6>ID {{_id}}</h5>
    <h6>TITLE {{title}}</h5>
    <h6>DESCRIPTION {{description}}</h5>
    <h6>CODE {{code}}</h5>
    <h6>PRICE {{price}}</h5>
    <h6>STATUS {{status}}</h5>
    <h6>STOCK {{stock}}</h5>
    <h6>CATEGORY {{category}}</h5>
    <h6>THUMBNAILS {{thumbnails}}</h5>
  </div>
  <input type="button" value="Go back!" onclick="history.back()" />
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>